<ion-header>
  <ion-toolbar>
    <ion-title>KiDar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-navbar *navbar>
  <ion-title>
    Activity Map
  </ion-title>
</ion-navbar>

<ion-content padding class="page2">
  <p>Students are represented as nodes on the radar. They can be optionally grouped together. Positions indicate displacement from the activity nuclei.</p>
    <style>

        #chart2 svg {
            height: 330px;
            padding: 0;
            width: 330px;
            margin-left: 0;
        }

    </style>
    <div id="chart2">
        <svg></svg>
    </div>

  <ion-scroll scrollY="true" [ngStyle]="{'height': '300px'}">
    <ion-list>
      <ion-list-header>
        Danger Index
      </ion-list-header>
      <ion-item *ngFor="let child of data | orderBeacons">
        <ion-avatar item-left>
          <ion-icon *ngIf="child.accuracy <= 5 && child.accuracy >= 0" name="leaf" [ngStyle]="{'color':'green', 'size': 64}" item-left></ion-icon>
          <ion-icon *ngIf="child.accuracy > 5 && child.accuracy <= 7" name="leaf" [ngStyle]="{'color':'orange', 'size': 64}" item-left></ion-icon>
          <ion-icon *ngIf="child.accuracy >= 7 || child.accuracy < 0 || child.proximity == 'ProximityUnknown'" name="leaf" [ngStyle]="{'color':'red', 'size': 64}" item-left></ion-icon>
        </ion-avatar>
        <h3>{{registration[child.uuid + child.major + child.minor]}}</h3>
        <p>{{child.accuracy}}m away</p>
        <ion-buttons item-right>
          <div *ngIf="child.accuracy > 5 && child.accuracy <= 7">Watch out!</div>
          <div *ngIf="child.accuracy >= 7 || child.accuracy < 0 || child.proximity == 'ProximityUnknown'">Missing!</div>
        </ion-buttons>
      </ion-item>
    </ion-list>
  </ion-scroll>
</ion-content>
